# Request inspect et oradaki bearer tokeni çal koy buraya
TCDD_TOKEN="Bearer example-token"

# İki isim varsa araya direkt boşluk koy
# Türkçe karakterler hem büyük hem de küçük harf oarak kullanılacak
PASSENGER_NAME="AHMET MEHMET"
PASSENGER_LAST_NAME="YİĞİT"

#yyyyaagg formatında araya herhangi bir karakter sokulmadan yazılacak
PASSENGER_BIRTH_DATE="19900101"

# F = Female M = Male şeklinde kullanılacak
PASSENGER_GENDER="M"

# TC NO
PASSENGER_IDENTITY_NUMBER="11111111110"

# Dümdüz mail
PASSENGER_EMAIL="ahmetmehmetyigit@example.com"

# Telefon no ilk 3 hane
PASSENGER_PHONE_AREA_CODE="555"

# Telefon no kalan haneler
PASSENGER_PHONE_NUMBER="1234567"

# Normal kullanıcı olarak 0, engelli veya başka bir statü varsa bu botta destek yok
PASSENGER_TYPE_ID=0

# kaç kişilik bilet şu anda sadece 1 destekleniyor o yüzden böylr kalsın
PASSENGER_COUNT=1

# Tren ararken atılan requestlere inspect diyip networkten bak, train abailabilitynin requestinden çek verileri
FROM_STATION_ID=98                      #departureStationId
FROM_STATION_LABEL="ANKARA GAR"         #departureStationName
TO_STATION_ID=5                         #arrivalStationId
TO_STATION_LABEL="ARIFIYE"              #arrivalStationName
DEPARTURE_DATE="30-05-2026 21:00:00"    #departureDate aradığın tarihten bir önceki günün tarihini yaz
SEARCH_RESERVATION=false                #searchReservation
TRAIN_TYPES="TURISTIK_TREN"             #blTrainTypese

# Tren saatlerine göre aramak için her bir trenin YHT: "altı haneli sayı" nereden - nereye şeklinde olan numaraları yaz
TARGET_TRAIN_IDS="81021,81459,81033,81023"

# Telegram bağlantısıyla sistemi docker containera atıp arkada çalıştırtırken bulduğunda sana mesaj atsın
TELEGRAM_BOT_TOKEN="123456789:example-bot-token"
TELEGRAM_CHAT_ID=123456789
